@media (orientation: landscape) {
	:root {
		--board-width: 95vh;
		--cell-width: calc(var(--board-width)/70);
	}
}	

@media (orientation: portrait) {
	:root {
		--board-width: 95vw;
		--cell-width: calc(var(--board-width)/70);
	}
}		

body {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  font: black;
}

.bulb {
	border-radius: 50%;
	width: var(--cell-width);
	height: var(--cell-width);
}

.reset-button {
	padding: 10px;
	border-radius: 5px;
	border: solid black var(--bulb-radius);
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
	margin: 5px;
}


#board {
	margin: auto;
	background: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: var(--board-width);
}

#buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 40px;
}
